.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 0;
  border: none;
  background-color: #FF6464;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}