.list {
    display: flex;
    margin-right: 50px;
    justify-content: center;
    column-gap: 50px;
    margin-bottom: 100px;
}

.list_item {
    display: block;
    font-weight: 700;
    font-size: 20px;
    list-style: none;
}

.link {
    text-decoration: none;
    color: #696969;
}

.link:hover {
    opacity: 0.7;
    text-decoration: underline;
}