.works {
  padding: 15px 0 83px 0;
  text-align: start;

  .works_title {
    font-size: 22px;
    font-weight: 400;
    line-height: 44px;
    margin: 0 ;
  }

  .picture {
    width: 246px;
    height: 180px;
    border-radius: 6px;
  }
}