.buttonPage {
    width: 500px;
}

.buttonTypes {
    width: 100%;
    display: block;
}

.buttonTypes_list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 25px;
}