.work {
  width: 100%;
  display: flex;
  column-gap: 18px;
  padding: 30px 0 35px 0;
  border-bottom: 1px solid #E0E0E0;


  .work_picture {
    .work_img {
      height: 180px;
      width: 246px;
    }
  }

  .work_content {
    text-align: start;

    .work_title {
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 16px;

      &:hover {
        opacity: 0.7;
      }
    }

    .work_subtitle {
      display: flex;
      column-gap: 26px;

      .work_date {
        padding: 3px 10px;
        border-radius: 16px;
        color: #FFFFFF;
        font-weight: 900;
        font-size: 18px;
        text-align: center;
        background-color: #142850;
      }

      .work_keyword {
        color: #8695A4;
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
      }
    }
  }

}